@use '../util' as *;

.btn {
    width: 100%;
    padding-block: rem(15);
    background-color: var(--accent-bright-blue);
    color: white;
    font-weight: 700;
    font-size: rem(18);
    border: none;
    border-radius: 5px;

    &:hover,
    &:focus {
        background-color: var(--accent-light-blue)
    }
}