@use '../util' as *;

.hero {
    // @include breakpoint(large) {
    //     margin: rem(20);
    // }
    margin: 0 auto;
    padding: rem(15);
    // max-width: rem(1200);

    &__illustration {
        width: 85%;
        margin: 0 auto;
        // margin: 0 rem(12) 0;
        @include breakpoint(large) {
            order: 2;
        }
    }

    &__heading {
        text-align: center;
        line-height: 1.5;
        margin: 0 rem(8) rem(26);

        @include breakpoint(large) {
            text-align: left;
        }
    }

    &__info {
        text-align: center;
        line-height: 1.5;

        @include breakpoint(large) {
            text-align: left;
        }
    }

    &__fieldset {
        text-align: center;

        @include breakpoint(medium) {
            margin: 0 auto;
        }

        @include breakpoint(large) {
            text-align: left;
        }
    }

    &__email-input {
        border-radius: rem(5);
        height: rem(50);
        width: 100%;
        border: rem(1.5) solid black;
        font-size: rem(16);
        color: var(--neutral-light-gray);
        padding: rem(4) 0 rem(4) rem(20);
        margin-top: rem(40);
        margin-bottom: rem(8);

        @include breakpoint(medium) {
            width: rem(290);
        }
    }

    &__email-check {
        text-align: left;
        visibility: hidden;

        @include breakpoint(medium) {
            text-align: center;
        }

        @include breakpoint(large) {
            text-align: left;
        }
    }

    &__email-input:invalid {
        outline: 1px solid red;
    }

    &__email-input:invalid ~ &__email-check {
        visibility: visible;
        color: red;
        font-size: rem(12);
        margin-block: rem(2);
    }

    &__btn {
        margin-top: rem(8);
        box-shadow: rem(2) rem(2) rem(3) rgba(0, 0, 0, 0.2);

        @include breakpoint(medium) {
            margin-left: rem(15);
            width: rem(200);
        }

        @include breakpoint(large) {
            margin-left: 0;
        }
    }

    &__container {
        max-width: 80vw;
        margin-inline: auto;
    }
}