<section class="hero grid grid--1x2">
  <img class="hero__illustration" src="images/illustration-1.svg" alt="" />
  <div class="hero__content">
    <h2 class="hero__heading">
      All your files in one secure location, accessible anywhere.
    </h2>
    <div class="hero__container">
      <div class="hero__info">
        Fylo stores your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends, family, and
        co-workers.
      </div>
      <fieldset class="hero__fieldset">
        <input
          class="hero__email-input"
          type="email"
          name=""
          id=""
          placeholder="Enter you email..."
        />
        <button class="btn hero__btn">Get Started</button>
      </fieldset>
    </div>
  </div>
</section>
