<div class="hero">
  <div class="hero__content">
    <h2 class="hero-heading">
      All your files in one secure location, accessible anywhere.
    </h2>
    <div class="hero__container">
      <div class="hero-info">
        Fylo stores your most important files in one secure location. Access
        them wherever you need, share and collaborate with friends, family, and
        co-workers.
      </div>
      <fieldset>
        <input
          class="hero__email-input"
          type="email"
          name=""
          id=""
          placeholder="Enter you email..."
        />
        <button class="btn">Get Started</button>
      </fieldset>
    </div>
  </div>
  <img src="images/illustration-1.svg" alt="" />
</div>
